.page-container {
  background: linear-gradient(-45deg, #eb8769, #d47fa0, #199fcf, #33ebc0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}



.card-container {
  max-width: 50%;
  max-height: 80%;
  margin: 0 auto;

}

::ng-deep body,
::ng-deep html {
  height: 100%;
  margin: 0;

}

.card {
  background-color: rgba(245, 245, 245, 0.5);
  height: 100%;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 70px;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
  background-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  border-radius: 10px;
  /* margin-top: 50px; */
}

.checkbox-wrapper {
  margin: 0 auto;
  width: 100%;
}

.checkbox-wrapper label {
  float: left;
  font-size: 20px;
  color: rgb(68, 68, 63);
}

.checkbox-wrapper input[type=checkbox] {
  width: 30px;
  align-items: right;

}

.checkbox-container {
  width: 20%;
  float: left;
}

input[type=checkbox] {
  height: 20px;
}

.btn {
  background: linear-gradient(rgb(103, 109, 103), rgb(75, 87, 75));
  color: white;
  font-size: 20px;
  width: 100%;
  height: 40px;
  letter-spacing: 2px;
  animation: gradient 15s ease infinite;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10px;

}

.card-body-wrapper {
  margin-top: 20px;
}

h2,
h6,
a {
  margin: 0 auto;
  text-align: center;
  color: rgb(68, 68, 63);
}

.anchor-wrapper {
  text-align: center;
}

.or-wrapper,
.title-wrapper {

  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  color: rgb(68, 68, 63);
}


.title-wrapper {
  font-size: 30px;
  text-align: center;

}

.or-wrapper {
  font-size: 15px;
  text-align: center;
}

.anchor-wrapper a {
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(68, 68, 63);
}

.anchor-wrapper a:hover {
  text-decoration: underline;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
