.page-container {
  background: linear-gradient(-45deg, #eb8769, #d47fa0, #199fcf, #33ebc0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.card-container {
  max-width: 50%;
  max-height: 70%;
  margin: 0 auto;

}

::ng-deep body,
::ng-deep html {
  height: 100%;
  margin: 0;
}

.card {
  background-color: rgba(245, 245, 245, 0.5);
  height: 100%;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 110px;
}

input[type=email],
input[type=password] {
  background-color: rgba(255, 255, 255, 0.8);
  height: 70px;
  border-radius: 10px;
  margin-top: 50px;
}

.btn {
  background: linear-gradient(rgb(103, 109, 103), rgb(75, 87, 75));
  color: white;
  font-size: 20px;
  width: 100%;
  height: 50px;
  letter-spacing: 2px;
  animation: gradient 15s ease infinite;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 50px;

}

.card-body-wrapper {
  margin-top: 50px;
}


a {
  margin: 0 auto;
  text-align: center;
  color: rgb(68, 68, 63);
}

.title-wrapper,
.or-wrapper {
  margin: 0 auto;
  color: rgb(68, 68, 63);
}

.title-wrapper {
  font-size: 30px;
  text-align: center;
}

.or-wrapper {
  font-size: 15px;
  text-align: center;
}



.anchor-wrapper {
  text-align: center;
}

.or-wrapper {
  margin-top: 10px;
}

a {
  font-size: 30px;
  letter-spacing: 2px;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
