    .SignInCard {
        width: 400px;
        height: 350px;
        margin: 0 auto;
        margin-top: 200px;
    }
    .email-null{
        color: red;
        font-size: 75%;
    }
    .email-proper{
        color: red;
        font-size: 75%;
    }
    .pass-empty{
        color: red;
        font-size: 75%;
    }
